/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

body {
    background-color: #FFFFFF;
}

nav ul a,
nav .brand-logo {
    color: #ffffff;
}

#Breadcrumbs .nav-wrapper div {
    padding-left: 15px;
}

.banner {
    height: 500px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url(../image/background/background.jpg);
    background-size: cover;
    margin: auto;
}

.bannerFaculte {
    height: 150px;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

#imageLogo {
    margin-left: 10px;
    margin-top: 4px;
    /* Préfixes vendeurs */
    /* Préfixes vendeurs */

}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    #imageLogo {
        margin: auto;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.about {
    margin: auto;
    text-align: center;
}

#image img {
    height: 240px;
    width: 470px;

}

#image2 img {
    height: 270px;
    width: 500px;

}

#lien a {
    color: black;
}

.publogo {
    padding: 5px;
}

@keyframes down {
    0% {
        position: relative;
        top: 0;
        opacity: 0
    }
    25% {
        position: relative;
        top: 12px;
        opacity: 0.25
    }
    50% {
        position: relative;
        top: 25px;
        opacity: 0.5
    }
    75% {
        position: relative;
        top: 37px;
        opacity: 0.75
    }
    100% {
        position: relative;
        top: 50px;
        opacity: 1
    }
}

.fleche {
    margin: auto;
    animation: down 1s infinite linear alternate;
}

#khotwa img {
    height: 177px;
    width: 480px;
}

#tablePub1 {
    border-collapse: collapse;
}

#tablePub1 tr, #tablePub1 td, #tablePub1 th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;

}

.date {
    color: red;
}

.article {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
}

.titrePub2 {
    color: red;
    text-align: center;
}

.modal-content {
    color: black;

}

.logoC img {
    height: 40px;
    width: 40px;

}

#bc2 {
    height: 319px;
    width: 650px;

}

#bc3 {
    height: 300px;
    width: 300px;

}

#bc4 {
    height: 50px;
    width: 100px;

}

#bc5 {
    height: 400px;
    width: 600px;

}

#bc6 {
    height: 235px;
    width: 400px;

}

#bc7 {
    height: 100px;
    width: 200px;

}

#bc9 {
    height: 313px;
    width: 600px;
    margin-top: 50px;

}

.reo img {
    height: 200px;
    width: 160px;

}

.pagination {
    text-align: center;
}

#contacte {
    height: 40px;
    width: 40px;

}

#bc13 {
    height: 240px;
    width: 100px;
}

#slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/informatique.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/club/clubInfo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/math1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide4 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/chimie.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide5 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/physique.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide6 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/socio.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide7 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/biologie.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#slide8 {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../image/autres/club/clubPharmacie.png);
    background-size: cover;
    background-repeat: no-repeat;
}
